.card {
  box-sizing: border-box;
  width: 290.74px;
  height: 350.08px;

  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(46, 49, 73, 0.1) 107.43%
  );
  backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 26px;
}

.icon {
  position: relative;
  width: 140px;
  height: 120px;
  background: #14172b;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px #14172b;
}
.icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 136px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-left-radius: 47px;
  box-shadow: -15px -16px 0 8px #14172b;
}

p {
  margin: 0;
}

.para1,
.para2,
.para3,
.para4 {
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 31px;
  /* identical to box height, or 258% */

  text-align: center;

  color: #737bae;

  opacity: 0.9;
  margin: 0;
}

.para1 {
  /* margin-top: 71px; */
}

.input1,
.input2,
.input3 {
  box-sizing: border-box;

  /* position: absolute; */
  width: 242px;
  height: 40px;
  /* left: 21px;
  top: 160px; */
  color: white;
  background: #14172b;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input1 {
  margin-top: 8px;
}
.input2 {
  margin-top: 4px;
}
.input3 {
  margin-top: 12px;
  /* position: absolute; */
  width: 121.75px;
  height: 40px;
  background: #14172b;
  border-radius: 29.5px;
  justify-content: space-around;
}
.green {
  width: 62.58px;
  height: 31px;
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 31px;
  /* identical to box height, or 258% */

  text-transform: uppercase;

  color: #00ffa3;

  opacity: 0.9;
}
