.card {
  width: 290.74px;
  height: 350.08px;
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(46, 49, 73, 0.1) 107.43%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 26px;
}

.coin-icon {
  position: relative;
  width: 140px;
  height: 120px;
  background: #14172b;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.coin-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px #14172b;
}
.coin-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 136px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-left-radius: 47px;
  box-shadow: -15px -16px 0 8px #14172b;
}

p {
  margin: 0;
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 31px;
  text-align: center;
  color: #737bae;
  opacity: 1;
}


.price,
.tvl,
.popular-pairs {
  width: 242px;
  height: 40px;
  color: white;
  background: #14172b;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  margin-top: 8px;
}
.tvl {
  margin-top: 4px;
}
.popular-pairs {
  margin-top: 12px;
  width: 121.75px;
  height: 40px;
  background: #14172b;
  border-radius: 29.5px;
  justify-content: space-around;
}
.inc-dec{
  width: 62.58px;
  height: 31px;
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 31px;
  text-transform: uppercase;
  color: #00ffa3;
  opacity: 1;
}
